/* Area of logo & menus */
header .row {
  margin-top: 50px;
  margin-left: 10px;
  margin-bottom: 60px;
}

/* Background-color of container */
.container {
  background-color: lightgray;
}

/* Ingredients */
.displays {
  margin: 20px;
}

/* More info */
.transparent {
  padding: 0;
  border: none;
  background: none;
}

/* Categories */
.filters {
  margin-left: 40px;
}

/* Font weight & color on button */
.filters .btn {
  font-weight: bold;
  font-size: 14px;
}

.btn-warning {
  color: black;
}

.label-warning {
  color: black;
}

/* Hiding the checkbox, but allowing it to be focused */
.badgebox
{
  opacity: 0;
}

.badgebox + .badge
{
  /* Move the check mark away when unchecked */
  text-indent: -999999px;
  /* Makes the badge's width stay the same checked and unchecked */
	width: 20px;
}

.badgebox:focus + .badge
{
  /* Set something to make the badge looks focused */
  /* This really depends on the application, in my case it was: */

  /* Adding a light border */
  box-shadow: inset 0px 0px 5px;
  /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
  /* Move the check mark back when checked */
	text-indent: 0;
}
